#today{
    border: black solid 1px;
    padding: 0.5rem;
}

#forecast{
    & .forecast{
        margin-right: 1rem;
        background-color: rgb(46, 65, 82);
        color: white;
    }
}

.input-group{
    flex-direction: column;
    align-items: center;
    /* right: 4rem; */
    & .weather-search{
        min-width: 98%;
        height: fit-content;
    }
}

#search-button{
    min-width: 98%;
    margin-top: 1rem;
    background-color: #0d6efd;
    color: white;
    font-weight: bold;
    border: rgb(200, 200, 200) solid 1px;
    border-radius: 5px;
    &:hover{
        background-color: rgb(13, 0, 255);
    }
}

.search-item{
    border: black solid 1px;
    border-radius: 5px;
    min-width: 98%;
    text-align: center;
    list-style: none;
    margin-bottom: 1rem;
    &:hover{
        background-color: rgb(200, 222, 255);
        border: rgb(174, 206, 254) solid 1px;
        font-weight: bolder;
        cursor: pointer;
    }
}

@media (width < 431px){
    #forecast{
        display: flex;
        justify-content: center;
    }
    .forecast{
        display: flex;
        justify-content: center;
        flex: 80%;
        max-width: 70vw;
        text-align: center;
        padding: 1rem;
        margin-top: 1rem;
        flex-direction: column;
    }
}